In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-09-11 02:17:12,-21.2078,-159.7750,78.85,78,40,6.91
1,1,Christchurch,NZ,2021-09-11 02:17:12,-43.5333,172.6333,59.32,52,9,4.00
2,2,Jamestown,US,2021-09-11 02:14:14,42.0970,-79.2353,62.19,88,1,1.01
3,3,Vardo,NO,2021-09-11 02:17:13,70.3705,31.1107,43.68,75,93,18.32
4,4,Touros,BR,2021-09-11 02:17:14,-5.1989,-35.4608,76.10,76,6,16.17

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Percent humidity heat map

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

### Wind speed heat map

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

## Get vacation crieteria

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-09-11 02:17:12,-21.2078,-159.7750,78.85,78,40,6.91
4,4,Touros,BR,2021-09-11 02:17:14,-5.1989,-35.4608,76.10,76,6,16.17
6,6,Butaritari,KI,2021-09-11 02:17:15,3.0707,172.7902,83.12,75,14,14.90
8,8,Atuona,PF,2021-09-11 02:17:15,-9.8000,-139.0333,78.15,72,7,14.81
15,15,Tabou,CI,2021-09-11 02:17:19,4.4230,-7.3528,76.21,87,100,2.06
21,21,Okara,PK,2021-09-11 02:17:22,30.8081,73.4458,76.46,90,8,9.24
23,23,Itaituba,BR,2021-09-11 02:16:17,-4.2761,-55.9836,76.46,75,11,1.99
24,24,Georgetown,MY,2021-09-11 02:12:40,5.4112,100.3354,85.93,75,20,3.44
28,28,Katsuura,JP,2021-09-11 02:17:25,35.1333,140.3000,78.84,75,73,5.26
31,31,Kavaratti,IN,2021-09-11 02:17:26,10.5669,72.6420,81.97,77,100,17.34

In [22]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [21]:
# drop row with null value
preferred_cities_df=preferred_cities_df.dropna()

In [23]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Avarua      CK     78.85 -21.2078 -159.7750
4       Touros      BR     76.10  -5.1989  -35.4608
6   Butaritari      KI     83.12   3.0707  172.7902
8       Atuona      PF     78.15  -9.8000 -139.0333
15       Tabou      CI     76.21   4.4230   -7.3528
21       Okara      PK     76.46  30.8081   73.4458
23    Itaituba      BR     76.46  -4.2761  -55.9836
24  Georgetown      MY     85.93   5.4112  100.3354
28    Katsuura      JP     78.84  35.1333  140.3000
31   Kavaratti      IN     81.97  10.5669   72.6420

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
4,Touros,BR,76.10,-5.1989,-35.4608,INN NEW HORIZON
6,Butaritari,KI,83.12,3.0707,172.7902,Isles Sunset Lodge
8,Atuona,PF,78.15,-9.8000,-139.0333,Villa Enata
15,Tabou,CI,76.21,4.4230,-7.3528,hotêl doufoulougou
21,Okara,PK,76.46,30.8081,73.4458,Ali mobile al aziz palaza Shop #6 Venus chows ...
23,Itaituba,BR,76.46,-4.2761,-55.9836,Hotel Campos
24,Georgetown,MY,85.93,5.4112,100.3354,Cititel Penang
28,Katsuura,JP,78.84,35.1333,140.3000,Katsuura Hotel Mikazuki
31,Kavaratti,IN,81.97,10.5669,72.6420,Hotels in Lakshadweep Islands

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [36]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))